body{
    font-family: arial;
    font-size: 15px;
    /* line-height: 1.6em; */
    
}
.top{
    font-size: 26px;
}
.begin{
    font-size: 22px;
}

li{
    list-style: none;
}

.container{
    width: 70%;
    margin: 20px auto;
    overflow: auto;
    background-image: url(Images/handprint\ copy.jpg);
}

.pull-left{
    float: left;
    font-size: 40px;
}

.pull-right{
    float: right;
    font-size: 36px;
}

header{
    background: #1f88f4;
    color: #ffffff;
    padding: 5px 10px;
    overflow: auto;
    font-size: 20px;
    font-weight: bolder;
}
.welcomeTop{
    font-weight: bolder;
    font-size: 40px;
}

.welcomeBegin{

    font-weight: bold;
    font-size: 28px;
}

.final {
    font-size: 50px;
    font-weight: bold;
    color: darkgreen;
}

.currentScore{
    font-size: 50px;
    font-weight: bold;
    color: darkgreen;
}

.retake{
    font-size: 36px;
    font-weight: bolder;
}

div, button{
    margin-bottom: 10px;
}

.question{
    font-size: 30px;
    font-weight: bolder;
    margin: 15px;
}

.choiceList, .correctInfo, .incorrectInfo{
    font-size: 28px;
    font-weight: bold;
}

.submit, .continue, .start{
    font-size:26px;
    border-radius: 7px;
    background: yellowgreen;
    margin-top: 10px;
}

.quizMessage{
    color: red;
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
}
.correct, .incorrect{
    font-size: 38px;
    font-weight: bold;
}

footer{
    background: #1f88f4;
    color: #ffffff;
    padding: 5px 10px;
    overflow: auto;
    font-size: 20px;
    font-weight: bolder;
}

@media only screen and (max-width:900px){
    .container{
        width: 90%;
    }

}